<div class="container">
    <a class="open" href="javaScript:void(0);" onclick="friendsOpen()">Friends</a> 
    <a class="logout" href="/">Logout</a> 
    <div class="friends">
        <a href="javaScript:void(0);" onclick="friendsClose()">Close</a>
        <div class="list">
            <% a.each do |friend| %>
                <form class="send" action="/chat" method="GET" autocomplete="off">
                    <input type="hidden" value="<%=friend[0]%>" name="friend">
                    <input class="friend" type="submit" value="<%=friend[0]%>">
                </form>
            <% end %>
        </div>
    </div>
    <div class="chat">
        <div class="header">

        </div>
        <div class="window">
            <% user1_messages.each do |message| %>
                <p class="message_box my_message"><%=message[0]%></p>
            <% end %>
            <% user2_messages.each do |message| %>
                <p class="message_box my_message"><%=message[0]%></p>
            <% end %>
        </div>
        <form class="send" action="/message" method="POST" autocomplete="off">
            <input class="chat-input" type="text" name="message" placeholder="Type here">
            <input type="hidden" value="<%=name%>" name="friend">
            <input type="submit" value="Send">
        </form>
    </div>
</div>
